<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.name %>!</h1>
    <h2>Welcome to SeisPalabras.xyz, <%= @user.name %></h2>
    <p>
      You have successfully signed up,
      your email is: <%= @user.email %>.<br>
      and your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, visit the site and go to the login section!
      <%= @url %>.
    </p>
    <p>Visit seispalabras.xyz every day and practice your Spanish.</p>
    <p>Consistency is the key!</p>
    <p>Thanks for joining. ¡Hasta pronto!</p>
  </body>
</html>